html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  background-color: #fff;
}

body {
  color: #4e5665;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
  margin: 0;
  line-height: 1.5em;
}
